<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2 text-center">
            <h2>YOUR MOST CURRENT SUBMISSION</h2>
            <hr class="star-primary">
            <p>The latest image you supplied via Evernote</p>
            <p>The weight Evernote extracted from this image:</p>
            <p>This means your current BMI is:</p>
            <p ><%= image_tag "profile.png", class: "img-responsive", style: "margin: 0 auto;" %></p>
            <p class="small">Chef Carl has mastered the art of delicious, healthy Cooking.</p>
            <h3>We've just sent an updated list of recipes and Shopping list to your Evernote Notebook!</h3>
            <p class="small">Open your Evernote app now or when you're at the store and it will be all right there for you.</p>
            
        </div>

    </div>


    <div class="row">
        <div class="col-lg-6 col-sm-8 col-lg-offset-3 col-sm-offset-2 text-center">
            <h2>Treat yourself to some delicious food!</h2>
            <hr class="star-primary">
            <p>Easy and convenient, get all the food delivered to your door: 
                <%= link_to image_tag(image_path("LeShopMigros.JPG"), class: "img", size: "100"),'http://teksourcery.com/LeShoppingCart-crop.png', :target => "_blank"  %> </p>
                <p class="small">This will directly take you to le-shop.ch's website with all the ingredients already in your basket. Does it get any more comfortable?</p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12 col-md-offset-2">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h2>YOUR RECENT PERFORMANCE</h2>
                    <hr class="star-primary">
                </div>


                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div id="highchart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Weight</th>
                          <th>Change</th>
                          <th>Pay?</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>11-10-2014</td>
                        <td>78.2</td>
                        <td>-0.2</td>
                        <td>$4.05</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script>
    $(function () {
        $('#highchart').highcharts({
            title: {
                text: 'Weight per Week',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Since starting the challenge',
                    x: -20
                },
                xAxis: {
                    title: {
                        text: 'Week'
                    },
                    categories: ['1', '2', '3', '4', '5', '6',
                    '7', '8', '9', '10', '11', '12']
                },
                yAxis: {
                    title: {
                        text: 'Kg'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: 'Kg'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'Weight',
                    data: [77.0, 76.9, 76.0, 75.8, 75.4, 74.9, 74.2, 74.1, 73.9, 73.7, 73.1, 72.8]
                }]
            });
});
</script>
